a:hover { 
	color: #000000; 
	background-color: #f0d0d0; 
}

a:visited {
 	color: #800000;
}

a:link {
    	color: #404040;
}

table {
    font-size: 80%;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

td {
    padding: 3px;
    font-size: 80%;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

body {
    background: #F8FFF8;
    background-image: url(/rgside.gif);
    background-repeat: no-repeat;
    color: black;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 80%;
    line-height: 150%;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

h1 {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-align: left;
    margin-top: 5%;
    margin-right: 10%;
}

h1 a:link {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #802000;
}
h1 a:visited {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #802000;
}

h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, Sans-Serif;
}

h2 {
    font-family: Times, Times Roman, Serif;
    font-variant: small-caps;
    color: #Fff8f8;
    background: #dF6060;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 2%;
}

div.header p.status { text-align: right; }
div.header p.last-modified { text-align: left; }

/*
li p {
    margin-top: -1ex;
}
*/

dt {
    font-weight: bold;
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

pre {
    border-right: #646464 1px solid;
    padding-right: 0.5em;
    border-top: #646464 1px solid;
    padding-top: 0.5em;
    border-left: #646464 1px solid;
    padding-left: 0.5em;
    border-bottom: #646464 1px solid;
    padding-bottom: 0.5em;
    white-space: pre;
    background-color: #f6e6e6;
    color: black;
    margin-left: 1em;
    width: 90%;
    display: table;
    font-size: 120%;
}

wombat {
    margin-right: 2em;
}

span.download {
    font-weight: normal;
    color: blue;
    background: #EEEEEE;
}

.path {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navi {
    text-align: right;
}

.headerURL {
    text-align: right;
    font-size: 8pt;
}

